
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
   background: linear-gradient(rgb(255, 255, 255), #007a78);
}

.header {
  background-color: #0b6fa4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}


.product-container {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}


.product-card {
  display: flex; 
  flex-wrap: wrap;
  background: #006d69; 
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 400px; 
  height: 500px; 
  transition: 0.3s;
  margin: 0 15px; 
}

.product-card2 {
  display: flex; 
  flex-wrap: wrap;
  background:#006d69; ; 
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 400px;
  height: 500px;
  transition: 0.3s;
  margin: 0 15px; 
}

.product-card2:hover {
  transform: scale(1.01);
}


.product-card2 .product-info h2 {
   color: #ffe082; 
   font-size: 1.2rem;
   margin-bottom: 10px;
}

.product-card:hover {
  transform: scale(1.01);
}


.product-info {
  flex: 1;
  min-width: 250px;
}

.product-info h2 {
 text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-info p {
  margin-bottom: 10px;
  line-height: 1.5;
}


button {
    background-color: #155555;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    display: block; 
    margin: 15px auto 0 auto; 
    width: 80%; 
    max-width: 300px; 
    text-align: center; 
}


select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

p{
    color: white;
    text-align: center;
}

.message {
  color: green;
  font-size: 0.9rem;
  margin-top: 8px;
}

footer {
   text-align: center;
    padding: 20px;
    background: linear-gradient(#0b6fa4,#003552);
    color: white;
    margin-top: 40px;
    font-size: 14px;
}

.back-arrow{
    cursor: pointer;
    padding-left: 25px;
    background-color: #006d69;
    color: white;
    border-radius: 8px;
    border: none; border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
    margin: 15px auto 0 auto; 
    text-align: left; 
    

}
/* ======== MODO ESCURO ======== */
body.dark-mode {
   background: linear-gradient(to bottom,
  #2a2a2a ,
  #020202 
);
}

body.dark-mode .header {
  background-color: #0a3d5d;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}


body.dark-mode button {

    background-color: #007bb6; 
    color: #e0e0e0;
}

body.dark-mode button:hover {
    background-color: #0093d8;
}


body.dark-mode .product-card {
  background-color: #1c1c1c; 
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.05);
}


body.dark-mode .product-card .product-info h2 {
    color: #00bfff; 
}

body.dark-mode .product-card2 {
  background-color: #1c1c1c; 
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.1);
}


body.dark-mode .product-card2 .product-info h2 {
    color: #ffe082;
}


body.dark-mode .product-card p,
body.dark-mode .product-card2 p {
    color: #b0cfcf; 
}

body.dark-mode .message {
    color: #4CAF50;
}

body.dark-mode footer {
  background: linear-gradient(#0b6fa4, #004164);
}

